@import url('https://fonts.googleapis.com/css2?family=Lato&family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes color-link {
    0% {
        color: red;
    }

    25% {
        color: yellow;
    }

    50% {
        color: green;
    }

    75% {
        color: cyan;
    }

    100% {
        color: blue;
    }
}

@keyframes creditrise{
    from {
        margin-top: 100%;
    }
    to {
        margin-top: 1rem;
    }
}

@keyframes fadein{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    display: flexbox;
    color: red;
    background-color: black;
    font-family: "Press Start 2P";
}

header {
    margin: 1rem;
}

.mainhead {
    margin-bottom: 1rem;
    text-align: center;
    color: white;
    animation: creditrise 1.5s ease-in forwards, color-link 1.5s linear 1.5s infinite;
    font-size: 6rem;
}
.aboutmain {
    text-align: center;
}

.gohome a {
    animation: color-link 1.5s linear infinite;
    text-decoration: none;
}

h2 {
    margin: 1rem;
    text-align: center;
}

h3 {
    margin: 1rem;
}

a {
    transition: all .2s linear;
}

a:hover{
    animation: color-link 1s linear infinite ;
}


@keyframes color-link {
    0% {
        color: red;
    }

    25% {
        color: yellow;
    }

    50% {
        color: green;
    }

    75% {
        color: cyan;
    }

    100% {
        color: blue;
    }
}

ul {
    list-style: none;
    margin: 1rem;
    border: red dashed 2pt;
    padding: 1rem;
    text-align: center;
}

li {
    margin: 2rem;
    font-size: 2rem;
    
}

form {
    margin: 2rem;
    padding: 1rem;
    max-width: 700px;
    border: 5pt solid #FFFFFF;
    background-color: #FE1313;
}

label {
    color: #FFFFFF;
}

input, textarea {
    padding: .5rem;
    width: 100%;
    background-color: #272727;
    color: #FFFFFF;
}

fieldset {
    outline: none;
    border: none;  
}

.mainnav ul {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation: fadein .5s ease-in 1.5s forwards;
    opacity: 0;
    
}

.currentp a {
    color: greenyellow;
}

.sociallink{
    max-width: 100px;
}

.contactform{
    margin: 1rem;
    padding: 1rem;
    display: block;
    border: 2pt red dashed;
}

.pfp {
    width: 100%;
    height:auto;
    max-width: 250px;
}

.pro1, .pro2, .pro3{
    border: 2pt dashed red;
    padding: 1rem;
    display: flex;
    margin: 1rem;
}

.thumb{
    width: 100%;
    height: auto;
    max-width: 150px;
    display: block;
}

.mission, .strategy{
    margin: 1rem;
    border: 2pt red dashed;
    padding: 1rem;
    text-align: center;
}

.mission p, .strategy p{
    font-family: Lato;
}

@media screen and (min-width: 800px){
    body {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(7,1fr);
    }

    #homehead {
        grid-row: 1/6;
        grid-column: span 6;
        grid-column: 4/5;
        text-align: center;
    }

    #bio{
        width: 100vw;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(7,1fr);
    }

    .pic{
        grid-column: span 2;
        grid-column: 2/4;
    }

    .pfp{
        max-width: 400px;
    }


    .interests{
        grid-column: 5/6;
        margin-bottom: 1rem;
    }

    .sanda{
        grid-column: 5/6;
        margin-top: 0;
    }

    .contacts{
        margin-top: 8rem;
        margin-right: 3rem;
        grid-column: 1/5;
        grid-row: 2/3;
    }

    .sociallink{
        max-width: 100px;
        margin: 1rem;
    }

    .contacts h2{
        animation: color-link 1.5s linear infinite;
    }

    .mainhead {
        margin-top: 2rem;
        font-size: 8rem;
    }

    
    .mainnav {
        grid-row: 7/8;
        grid-column: 4/5;
    }

    main div {
        max-width: 1100px;
    }

    .mainnav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .mainnav li {
        font-size: 3rem;
        margin: 2rem;
    }

    .workhead {
        text-align: center;
        grid-column: 3/5;
    }

    .pro1, .pro2, .pro3 {
        grid-column: 3/5;
        width: 70vw;
        text-align: center;

    }

    .pro1 h2, .pro2 h2, .pro3 h2 {
        margin-top: 5rem;
    }

    .thumb{
        margin-right: 6rem;
        margin-left: 5rem;
        max-width: 500px;
    }

    .mission, .strategy{
        grid-column: 3/5;
        display: block;
        text-align: center;
    }

    .mission p, .strategy p{
        max-width: 50ch;
        margin: auto;
        font-size: 20pt;
    }

    
}